In [ ]:
# Question 1
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list
ages.sort()

# Get min and max age
min_age = min(ages)
max_age = max(ages)

# Add min and max age again to the list
ages.append(min_age)
ages.append(max_age)

# Find median age
ages.sort()
median_age = (ages[len(ages)//2] + ages[~len(ages)//2]) / 2

# Find average age
average_age = sum(ages) / len(ages)

# Find range of ages
range_ages = max(ages) - min(ages)

print('sorted ages: ',ages)
print('Min age: ', min_age)
print('Max age: ', max_age)
print('Median age:', median_age)
print('Avg age:', average_age)
print('Range of ages:', range_ages)

sorted ages:  [19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
Min age:  19
Max age:  26
Median age: 24.0
Avg age: 22.75
Range of ages: 7

In [ ]:
# Question 2
dog = {}

# Add information
dog['name'] = 'Rocky'
dog['color'] = 'brown'
dog['breed'] = 'Labrador'
dog['legs'] = 4
dog['age'] = 5

student = {}
student['first_name'] = 'Joe'
student['last_name'] = 'stephen'
student['gender'] = 'Male'
student['age'] = 25
student['marital status'] = 'Single'
student['skills'] = ['Python', 'R', 'SQL']
student['country'] = 'India'
student['city'] = 'Delhi'
student['address'] = '101 sulthan street'

# Get length
print('Length of student dictionaly is:', len(student))

# Get skills
print('student skills are:', student['skills'])
print('type:', type(student['skills']))

# Modify skills
student['skills'].append('Java')
student['skills'].append('Sql')
print('Modified skills:', student['skills'])

# Get keys and values
print('Dictionary keys list:', student.keys())
print('Dictionary values list:', student.values())

Length of student dictionaly is: 9
student skills are: ['Python', 'R', 'SQL']
type: <class 'list'>
Modified skills: ['Python', 'R', 'SQL', 'Java', 'Sql']
Dictionary keys list: dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])
Dictionary values list: dict_values(['Joe', 'stephen', 'Male', 25, 'Single', ['Python', 'R', 'SQL', 'Java', 'Sql'], 'India', 'Delhi', '101 sulthan street'])

In [ ]:
# Question 3
sisters = ('Mary', 'Jane')
brothers = ('Bob', 'Tom')

siblings = sisters + brothers
print('Siblings are:', siblings)

print('Total siblings are:', len(siblings))

family_members = siblings + ('John', 'Emma')
print('Family members are:', family_members)

Siblings are: ('Mary', 'Jane', 'Bob', 'Tom')
Total siblings are: 4
Family members are: ('Mary', 'Jane', 'Bob', 'Tom', 'John', 'Emma')

In [ ]:

# Question 4

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

print('total it_companies are:', len(it_companies))

it_companies.add('Twitter')
print('adding twitter', it_companies)

it_companies.update(['Tesla', 'Nvidia'])
print('after inserting Tesla and Nvisia:', it_companies)

it_companies.remove('Oracle')
print('Removing Oracle:', it_companies)

# remove() throws error, discard() doesn't

A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# Join A and B
print('Joining A&B', A.union(B))

# Intersection
print('intersecting A&B',A.intersection(B))

# Subset
print('A subset B', A.issubset(B))

# Disjoint
print('A adj of B', A.isdisjoint(B))

# Join
print('join A with B', A.union(B))
print('Join B with A', B.union(A))

# Symmetric difference
print('symm difference', A.symmetric_difference(B))

# Delete sets
del A
del B

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

print('length of list', len(ages))
print('length of set', len(set(ages)))

total it_companies are: 7
adding twitter {'Amazon', 'Apple', 'Oracle', 'Google', 'Twitter', 'IBM', 'Microsoft', 'Facebook'}
after inserting Tesla and Nvisia: {'Oracle', 'Nvidia', 'Microsoft', 'Apple', 'Amazon', 'Facebook', 'Tesla', 'Google', 'Twitter', 'IBM'}
Removing Oracle: {'Nvidia', 'Microsoft', 'Apple', 'Amazon', 'Facebook', 'Tesla', 'Google', 'Twitter', 'IBM'}
Joining A&B {19, 20, 22, 24, 25, 26, 27, 28}
intersecting A&B {19, 20, 22, 24, 25, 26}
A subset B True
A adj of B False
join A with B {19, 20, 22, 24, 25, 26, 27, 28}
Join B with A {19, 20, 22, 24, 25, 26, 27, 28}
symm difference {27, 28}
length of list 10
length of set 6

In [ ]:
# Question 5

import math

r = 30

# Calculate area
area_of_circle = math.pi * r ** 2
print('area of circle is:', area_of_circle)

# Calculate circumference
circum_of_circle = 2 * math.pi * r
print('circumference of circle is:',circum_of_circle)

# Take radius as user input
r = float(input("Enter radius: "))
area = math.pi * r ** 2
print('area:', area)

area of circle is: 2827.4333882308138
circumference of circle is: 188.49555921538757
Enter radius: 5
area: 78.53981633974483

In [ ]:
# Question 6
sentence = "I am a teacher and I love to inspire and teach people"

words = set(sentence.split())
print('Total Unique words found are:', len(words))

Total Unique words found are: 10

In [ ]:
#Question 7
print('Name', '\t\t', 'Age', '\t', 'Country', '\t', 'City')
print('Asabeneh', '\t', '250', '\t', 'Finland', '\t', 'Helsinki')

Name 		 Age 	 Country 	 City
Asabeneh 	 250 	 Finland 	 Helsinki

In [ ]:
# Question 8
radius = 10
area = 3.14 * radius ** 2
print("The area of a circle with radius {} is {} meters square.".format(radius, area))

The area of a circle with radius 10 is 314.0 meters square.

In [ ]:
# Question 9
n = int(input("Enter number of students: "))
weights = []
for i in range(n):
    w = float(input("Enter weight (lbs): "))
    weights.append(w)

weights_kg = [w * 0.453592 for w in weights]

print('L1:',weights)
print('Output:',weights_kg)

Enter number of students: 4
Enter weight (lbs): 150
Enter weight (lbs): 155
Enter weight (lbs): 145
Enter weight (lbs): 148
L1: [150.0, 155.0, 145.0, 148.0]
Output: [68.0388, 70.30676, 65.77083999999999, 67.131616]